body {
  font-family: "Roboto", 'Lato', sans-serif;
  padding-bottom: 0px;
}

.form {
    display: block;
    /*border: 1px solid #ccc;
    border-radius: .1px;
    box-sizing: border-box;*/
}


.container {
    margin-left: auto;
    margin-right: auto;
    text-align: centre;
    width: 750px;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.5;
    border: 0px solid;
    border-radius: 1px;
    border-color: #f00;
    background-color: #fff;
}

.input-field .prefix {
    position: absolute;
    /* width: 3rem; */
    font-size: 2rem;
    transition: color .2s;
    margin-top: 10px;
}

.row {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* CSS Document */
form,
p,
span {
    margin: 0;
    padding: 0;
}

input {
    font: 12px arial;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#sendMsg {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}
/*#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 6px;
    background: #fafafa;
    height: 90%;
    width: 85%;
    border: 1px solid #ACD8F0;
    overflow: auto;
}*/

.inner .content {
  padding: 10.66667px;
  position: relative;
  margin-bottom: 32px;
}


#chat{
    margin-left: 80px;
    margin-top: 80px;   
}

#usermsg {
    width: 100%;
    border: 1px solid #ACD8F0;
    box-shadow:0px 0px 1px 0px #424242;
}

#overlay {
    display:none;    
    position:fixed;  
    left:0px;        
    top:0px;         
    width:100%;      
    height:100%;     
    background:#000; 
    opacity:0.5;     
    z-index:99999;   
}

#submitmsg {
    margin: 10px;
}

#popup {
    display:none;
    position:fixed;    
    width:100%;     
    height:100%;
    margin-top:-250px;
    margin-left:-250px;
    background:#FFFFFF;
    
    z-index:100000;      
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    /*top: 0;*/
    top: 14%;
    width: 88%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    height: 520px;
  width: 320px;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* Modal Content/Box */
.modal-content {
    /*background-color: #fefefe;*/
    /*margin: 15% auto;  15% from the top and centered */
    margin: auto;
    padding-top: 24px;
    /*border: 1px solid #888;*/
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
    padding-top: 25px;
    border: 1px solid #ACD8F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#title, #welcome, #tasks {
    margin: 0.78rem 0px 1.424rem 15px;
}
h2, #tasks th {
    color: #ea5323;
}
#tasks td {
    padding: 3px 5px;
}
.btn, .btn:hover, .btn-large:hover {
    background-color: #ea5323;
}
table {
    border-collapse: inherit;
    overflow-y: scroll;
}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ea5323;
    box-shadow: 0 1px 0 0 #ea5323;
}
.talk-bubble {
    margin: 8px;
    display: flex;
    position: relative;
    width: 300px;
    height: auto;
}
.border{
    border: 8px solid #666;
}
.round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.modal .modal-content {
    padding: 0;
}
.self {
    background-color: #fff;
    border: 1px;
    padding: 3px;
    text-align: right;
    border-radius: 3px;
    width: 40%;
    float: right;
    clear: both;
    margin-bottom: 10px;
    box-shadow:0px 0px 1px 0px #424242;
}
.other {
    background-color: #fff;
    border: 1px;
    padding: 3px;
    text-align: right;
    border-radius: 3px;
    width: 40%;
    float: left;
    clear: both;
    margin-bottom: 10px;
    box-shadow: 0px 0px 1px 0px #424242;
}


/* Chat BOX*/


.modal .inner {
    overflow: scroll;
    height: 425px;
    padding-top: 67px;
}

.modal .inner::-webkit-scrollbar {
  width: 0 !important;
}
.modal .inner .content {
  padding: 10.66667px;
  position: relative;
  margin-bottom: 32px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: #ffffff;
  /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
}
.bottom .input {
  height: 64px;
  background: #ffffff;
  border: none;
  width: calc(100% - 64px);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 5%;
  resize: none;
  overflow: scroll;
  padding-top: 24px;
  font-weight: 300;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.bottom .input:focus {
  outline: none;
}
.bottom .input::-webkit-scrollbar {
  width: 0 !important;
}
.bottom .send {
  position: fixed;
  height: 42.66667px;
  width: 42.66667px;
  border-radius: 50%;
  border: 0;
  background: #F44336;
  color: #ffffff;
  bottom: 0px;
  right: 0px;
}
.bottom .send:before {
  content: '';
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_send_white_48dp.png) no-repeat center center;
  background-size: 25.6px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bottom .send:focus {
  outline: none;
}
.bottom .send:hover {
  cursor: pointer;
}

.message-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10.66667px 0;
  padding: 10.66667px 0;
}

#otherUser {
  padding: 10px;
  text-transform: capitalize;
}